.navbar-brand{
    font-size: x-large;
    font-weight: bold;
    color: #150546;
}

.nav-item .nav-link {
    font-size: large;
    /* font-weight: 500; */
    color: #160647;
}

.nav-item .btn{
    background-color: #6552FF;
}

nav li {
    display: inline-block;
    padding: 0 15px; /* add padding to create distance between links */
  }