.stepper .line {
    width: 2px;
    background-color: lightgrey !important;
  }
  .stepper .lead {
    font-size: 1.1rem;
  }


.coursesVerticalStepper{
    width: 100ch;
}

.StepperMainLabels{
  font-weight: 500;
font-size: 28px;
line-height: 34px;
color: #150546;
}

.subtextMainLabels{
  font-weight: 400 !important;
font-size: 18px !important;
line-height: 22px !important;
color: rgba(21, 5, 70, 0.6) !important;
}