.registrationTopDiv{
    /* align-items: center; */
    /* margin: auto;
    border: 3px solid green; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rowForm{
    display: flex;
    justify-content: space-between;
}

.rowForm .col-5{
    background-color: #fff;
}

/* .middleColumn{
    background-color: #160647;
    background: none;
} */

.form-row .form-holder input {
    /* color: #fff; */
    margin-top: 20px;
    border: 0px;
    border-bottom: 1px solid #000;
    border-radius: 0px;
    background: transparent;
}